body {
    background-color: #F9C5D5;
}

div.section-top {
    padding-top: 30px;
    width: 100%;
}

.top {
    display: inline-block;
}

h1.question {

}

img.logo {
    margin-left: auto;
    margin-right: 0;

}



